.Files {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--text-color);
  grid-gap: 10px;
  font-size: large;
}
.FileContainer > img {
  max-width: 50vw;
  max-height: 90vh;
  margin: 0 auto;
}
.fileupload {
  bottom: 15px;
  position: absolute;
}
.FileContainer {
  background-color: var(--card-background);
  border: 3px solid var(--primary);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: -12vh;
  width: 60vw;
  margin-left: 20vw;
  height: 100vh;
  z-index: 2;
  animation: growin 0.2s;
  position: fixed;
}
.FileInfo {
  margin-top: 25px;
}
.FileInfo div {
  margin-top: 5px;
}
.header {
  display: flex;
}
.servererror {
  height: 4vh;
  margin-top: 9vh;
  background-color: rgb(252, 92, 92);
  font-size: 20px;
}
.File {
  animation: growin 0.2s;
  height: 100%;
  padding-top: 5vh;
  text-align: center;
  background-color: var(--card-background);
  border: solid #66fcf1 4px;
  border-radius: 10px;
}
.Fileimage {
  animation: growin 0.2s;
  height: 100%;
  padding-top: 1vh;
  text-align: center;
  background-color: var(--card-background);
  border: solid #66fcf1 4px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.img {
  max-width: 15vw;
  max-height: 31vh;
}
.filesbody {
  margin-top: 12vh;
  padding-bottom: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
a {
  color: black;
}

@keyframes growin {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
a {
  text-decoration: none;
}

.container_1 {
  height: 10vh;
  z-index: 1;
  width: 100%;
  margin-top: -2vh;
  position: fixed;
  background-color: var(--card-background);
  align-items: center;
  text-align: center;
}
.container {
  display: flex;
  background-color: var(--card-background);
  align-items: center;
  height: 8vh;
}
.video {
  padding-top: 1vh;
  height: 100%;
}
.progress-bar__container {
  border-radius: 5px;
  border: 2px black solid;
  border-left-width: 4px;
  border-right-width: 4px;
  width: 80%;
  height: 2vh;
  margin: 0 auto;
}

.progress-bar {
  width: 0%;
  height: 2vh;
  background-color: var(--primary);
}

.selectedFile {
  width: 35vw;
  display: grid;
}
.FileSelect {
  animation: growin 0.2s;
  width: 38vw;
  height: 70vh;
  position: fixed;
  top: 10vh;
  color: var(--primary);
  background-color: var(--card-background);
  border: solid 5px var(--primary);
  border-radius: 10px;
  left: 30vw;
  padding-left: 5vh;
  padding-right: 10vh;
  padding-bottom: 10vh;
  z-index: 2;
}
#ImagefilePreview {
  display: flex;
  align-items: center;
  max-height: 300px;
}
#ImagefilePreview > img {
  margin: 0 auto;
  max-width: 60vw;
  max-height: 50vh;
}

#ImagefilePreview > video {
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .FileContainer {
    margin-top: 2vh;
    width: 89vw;
    margin-left: 6vw;
    height: 70%;
  }
  .FileContainer > img {
    max-height: 90vh;
    max-width: 75vw;
  }
  #ImagefilePreview > img {
    margin: 0 auto;
    height: 40vh;
    max-width: 80vw;
  }
  #ImagefilePreview {
    display: flex;
    align-items: center;
    height: 43vh;
    max-height: none;
  }
  .Files {
    display: block;
    font-size: 15px;
  }
  .FileSelect {
    left: 5vw;
    width: 89vw;
    height: 80%;
    padding-left: 3vw;
  }
  .selectedFile {
    width: 75vw;
    padding-left: 2vw;
  }
  .File {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .img {
    max-width: 27vw;
    max-height: 28vh;
    height: 19vh;
  }
  .Fileimage {
    margin-bottom: 10px;
    height: 100%;
  }
  .filesbody {
    margin-top: 10vh;
  }
  .servererror {
    text-align: center;
  }
  .video {
    padding-top: 1vh;
    height: 100%;
  }
}
