.Files {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  grid-gap: 10px;
  font-size: large;
}
.header {
  display: flex;
}
.File {
  animation: growin 0.2s;
  text-align: center;
  height: 20vh;
  padding-top: 5vh;
  text-align: center;
  background-color: #393f4d;
  border: solid #66fcf1 4px;
  border-radius: 10px;
}
.fileupload {
  margin-top: 15vh;
}
.filesbody {
  padding-bottom: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
a {
  color: black;
}

@keyframes growin {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .Files {
    display: block;
  }
  .File {
    margin-top: 10px;
  }
}

.container_1 {
  height: 10vh;
  z-index: 1;
  width: 100%;
  margin-top: 9vh;
  position: fixed;
  background-color: #393f4d;
  align-items: center;
  text-align: center;
}
.container {
  align-items: center;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
}

.progress-bar__container {
  width: 80%;
  height: 2vh;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  will-change: transform;
  box-shadow: 0 0 5px #e76f51;
}

.progress-bar {
  height: 100%;
  content: "";
  background-color: #e76f51;
  bottom: 0;
  left: -100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
  .container {
    height: 8vh;
    margin-top: 6vh;
  }
}
