svg {
  width: 150px;
  height: 150px;
}
.body {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.loading {
  position: absolute;
  margin: 0 auto;
  top: 40%;
}
