.laoding svg {
  width: 150px;
  height: 150px;
}
.loadingbody {
  text-align: center;
  width: 100%;
  color: #3fb0ac;
  height: 100vh;
  background-color: rgb(56, 54, 54);
  display: flex;
  justify-content: center;
}
.loading {
  position: absolute;
  margin: 0 auto;
  top: 40%;
}
