input {
  width: 40vw;
  height: 8vh;
  margin-top: 2vh;
  font-size: 20px;
  border-radius: 10px;
  text-indent: 20px;
  border: solid 5px #3fb0ac;
}
.alert1 {
  position: fixed;
  left: 0;
  right: 0;
  height: 8vh;
  top: 0;
  text-align: center;
}
.alert1 > .div2 {
  padding-top: 2vh;
  height: 100%;
  font-size: 20px;
  color: var(--card-background);
}
input:focus {
  color: rgb(52, 51, 51);
  border: solid 5px #2f8582;
  outline: none;
}
.loginform {
  margin-top: 10vh;
}
.ti {
  font-size: 40px;
  padding-top: 5vh;
  background-color: #3fb0ac;
  padding-bottom: 5vh;
  margin-top: -2px;
  color: var(--card-background);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.register {
  margin-top: 5vh;
}
.login {
  background-color: var(--card-background);
  width: 45vw;
  text-align: center;
  height: 80%;
  margin-left: 27vw;
  margin-top: 12vh;
  border-radius: 20px;
  color: var(--text-color-secondary);
}
@media only screen and (max-width: 600px) {
  input {
    width: 70vw;
    border-radius: 10px;
    margin-top: 2vh;
  }
  .loginform {
    margin-top: 2vh;
  }
  .login {
    height: 65%;
    margin-left: 4vw;
    width: 90vw;
  }
  .reg {
    height: 75%;
  }
  form {
    margin-top: 5vh;
  }
  .alert1 {
    position: fixed;
    left: 0;
    right: 0;
    height: 8vh;
  }
  .alert1 > .div2 {
    padding-top: 2vh;
    height: 100%;
    font-size: 20px;
    color: black;
  }
}
