.title {
  background-color: var(--primary);
  color: var(--card-background);
}
.nav {
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6vh;
  border-color: var(--primary);
  border-top-style: solid;
  border-width: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: var(--card-background);
}
.item {
  text-align: center;
  display: grid;
  margin: 0 5px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  color: var(--primary);
}
.icon {
  margin-top: 8px;
}
.label {
  position: absolute;
  opacity: 1;
  font-size: smaller;
  margin-left: 10px;
  top: 10px;
}
.item:hover {
  color: var(--primary);
  background-color: var(--opac);
}
@media only screen and (max-width: 600px) {
  .label {
    display: none;
  }
  .item:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .item {
    margin-left: 5vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
  }
}
